@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
}

.site-container {
    display: grid;
    grid-template-columns: minmax(250px, 15%) 1fr;
    grid-template-rows: 3fr 80% 1fr;
}

.sidebar {
    background-color: #333;
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    padding: 5px 15px;
    gap: 10px;
    align-items: space-evenly;
}

.sidebar > div {
    border-bottom-style: solid;
    border-color: #555;
    border-bottom-width: 1px;
}

.sidebar > .settings {
    border-bottom-style: none;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.logo-icon {
    height: 3em;
    color: #ddd;
}

.logo-text {
    color: #ddd;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.navigation {
    display: grid;
    gap: 10px;
    justify-content: start;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr))
}

.icon-sidebar {
    height: 1.75em;
}

.navigation > li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
}

.navigation > li:hover {
    background-color: #555;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.navigation li:hover > a {
    font-weight: 900;
}

li > a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
}

.header {
    display: grid;
    grid-template-rows: 3fr 5fr;

}

.header-icon {
    height: 28px;
}

.upper-header {
    display: grid;
    grid-template-columns: 5fr 2fr;
    justify-content: center;
    padding: 1em;
    gap: 5%;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    gap: 1.5%;
}

#search-bar {
    background-color:silver;
    padding: 8px;
    border-radius: 16px;
    flex-grow: 1;
    border-style: solid;
    border-color: silver
}

#search-bar:focus, #search-bar:focus-visible > #search-bar{
    border-color: rgba(0, 0, 0, 0.3);
}

#search-bar::placeholder {
    font-size: 14px;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.username.panel{
    flex-wrap: nowrap;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1em;
    border-left-style: solid;
    border-left-color: #333;
    border-left-width: 2px;
    padding-left: 1.25em;
}

.avatar {
    height: 48px;
    border-radius: 32px;
}