@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
}

.site-container {
    display: grid;
    grid-template-columns: minmax(250px, 15%) 1fr;
    grid-template-rows: 2fr 4fr;
    max-height: 100vh;
}

.sidebar {
    background-color: #333;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    padding: 5px 15px;
    box-shadow: 0.5em 0 0.5em 0 rgba(0, 0, 0, 0.3);
}

.sidebar div {
    border-bottom-style: solid;
    border-color: #555;
    border-bottom-width: 1px;
}

.sidebar > .settings {
    border-bottom-style: none;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.logo-icon {
    height: 3em;
    color: #ddd;
}

.logo-text {
    color: #ddd;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.navigation {
    display: grid;
    gap: 10px;
    justify-content: start;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr))
}

.icon-sidebar {
    height: 1.75em;
}

.navigation > li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
}

.navigation > li:hover {
    background-color: #555;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.navigation li:hover > a {
    font-weight: 900;
}

li > a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
}

.header {
    display: grid;
    grid-template-rows: 3fr 5fr;
    box-shadow: 0 1em 0.25em 0 rgba(0, 0, 0, 0.5);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header-icon {
    height: 28px;
}

.upper-header {
    display: grid;
    grid-template-columns: 5fr 2fr;
    justify-content: center;
    padding: 1em 2.5em;
    gap: 5%;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    gap: 1.5%;
}

#search-bar {
    background-color:silver;
    padding: 8px;
    border-radius: 16px;
    flex-grow: 1;
    border-style: solid;
    border-color: silver
}

#search-bar:focus, #search-bar:focus-visible > #search-bar{
    border-color: rgba(0, 0, 0, 0.3);
}

#search-bar::placeholder {
    font-size: 14px;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.username.panel{
    flex-wrap: nowrap;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    border-left-style: solid;
    border-left-color: #333;
    border-left-width: 2px;
    padding-left: 1.25em;
}

.avatar {
    height: 48px;
    border-radius: 32px;
}

.avatar-big {
    height: 88px;
    border-radius: 46px;
}

.lower-header {
    display: grid;
    grid-template-columns: 5fr 3fr;
    padding: 1em 2.5em;
}

.greeting-section {
    display: flex;
    gap: 2em;
    align-items: center;
}

.greeting-text {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: space-around;
}

.greeting {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.username.greeting {
    font-size: 1.5em;
}

.action-section {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.action-button {
    background-color: rgb(229, 128, 28);
    color: #fff;
    padding: 0.75em 1.5em;
    border-radius: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.content-container {
    background-color:#eee;
    padding: 2.5%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 2em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.blog-entries {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.entry-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.entry-card {
    background-color: #fff;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: rgb(229, 128, 28);
    border-radius: 8px;
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr 3fr 1fr;
    box-shadow: 0.25em 0.25em 0.5em 0 rgba(0, 0, 0, 0.3);
}

.content-header {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    color:#333;
}

.entry-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
}

.entry-abstract {
    font-family: 'Nunito', sans-serif;
}

.entry-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5em;
}

.entry-action-icon {
    height: 1.75em;
}

.host-announcements {
    grid-row: 1 / 4;
    grid-column: 2;
}

.trending-section {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
}

.stats-panel {
    background-color: #fff;
    box-shadow: 0.25em 0.25em 0.5em 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.stats-section {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    
}

.plot {
    height: auto;
}

.post-list {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.post-title-small {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    padding: 0.5em;
    font-weight: 700;
    border-radius: 8px;
}

#entry-1 {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}

#entry-2 {
    color: rgb(219, 176, 36);
    background-color: rgba(242, 208, 98, 0.2);
}

#entry-3 {
    color: green;
    background-color: rgb(103, 182, 103, 0.2);
}

#entry-4 {
    color: rgb(27, 39, 63);
    background-color: rgba(27, 39, 63, 0.2);
}

#entry-5 {
    color: rgb(108, 10, 30);
    background-color: rgba(108, 10, 30, 0.2);
}